feed-reader-lib/xsl/Feed_XSD.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="feed" type="feedNodeType" />
	
	<xsd:complexType name="feedNodeType">
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded" minOccurs="1">
				<xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1" />
				<xsd:element name="url" type="xsd:string" minOccurs="1" maxOccurs="1" />
				<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="language" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="copyright" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="authorName" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="authorEmail" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="imageUrl" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="imageText" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="categories" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                            <xsd:element name="category" type="xsd:string" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				<xsd:element name="entry" type="entryNodeType" minOccurs="0" maxOccurs="unbounded" />
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="format" type="feedType"/>
		<xsd:attribute name="version" type="xsd:string" />
	</xsd:complexType>

    <xsd:complexType name="enclosureNodeType">
        <xsd:sequence>
            <xsd:choice maxOccurs="unbounded">
                <xsd:element name="url" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="size" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1" />
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
	
	<xsd:complexType name="entryNodeType">
		<xsd:sequence>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="entryUniqueId" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="title" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="url" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="authorEmail" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="authorName" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="originalEntryId" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="enclosures" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                            <xsd:element name="enclosure" type="enclosureNodeType" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="categories" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                            <xsd:element name="category" type="xsd:string" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				<xsd:element name="publishDateTime" type="xsd:string" minOccurs="0" maxOccurs="1" />
				<xsd:element name="lastUpdatedDateTime" type="xsd:string" minOccurs="0" maxOccurs="1" />
                <xsd:element name="content" minOccurs="0" maxOccurs="1">
                    <xsd:complexType mixed="true">
                        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                            <xsd:choice maxOccurs="unbounded">
                                <xsd:any minOccurs="0" processContents="skip" />
                            </xsd:choice>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="feedType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RSS" />
			<xsd:enumeration value="Atom" />
			<xsd:enumeration value="RDF" />
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>